<header class="navbar navbar-dark bg-dark shadow-sm navbar-expand-md py-1">
    <a href="{{url_for('index')}}" class="navbar-brand navbar-text">Books App</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navItems">
        <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="collapse navbar-collapse" id="navItems">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{{url_for('index')}}" class="nav-link text-white">Home</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('instructions')}}" class="nav-link text-white">Instructions</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('logout')}}" class="nav-link text-white">Logout</a>
            </li>
        </ul>
    </nav>
</header>
