{% extends 'layout.html' %} {% block title %} Login | Book Review {% endblock %}
{% block body %}

<main class="container my-5 py-5">
  <div class="jumbotron text-center w-50 mx-auto rounded shadow-sm">
    <h2 class="jumbotron-heading">Create New Account</h2>

    {% if(error) %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}

    <form action="{{url_for('signup')}}" method="post">
      <div class="form-group form-inline">
        <label for="username">Enter Username:</label>
        <input
          name="username"
          id="username"
          type="text"
          required
          class="mx-3 form-control"
          placeholder="jayantmalik"
        />
      </div>

      <div class="form-group form-inline">
        <label for="pass">Enter Password:</label>
        <input
          name="password"
          id="pass"
          required
          type="password"
          class="mx-3 form-control"
          placeholder="Password@342"
        />
      </div>
      <div class="form-group form-inline">
        <label for="con-pass">Confirm Password:</label>
        <input
          name="confirm-password"
          id="con-pass"
          required
          type="password"
          class="mx-3 form-control"
          placeholder="Password@342"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block">
        Signup Now
      </button>
    </form>

    <div class="btn-group mt-3">
      <a
        href="{{url_for('login')}}"
        class="btn btn-outline-success btn-block mx-3"
        >Back to Login</a
      >
    </div>
  </div>
</main>

{% endblock %}
